@import 'tailwindcss';

:root {
   --font-poppins: var(--font-poppins);
}

html,
body {
   overflow-x: hidden;
}

.main-container {
   width: 100%;
   height: 100%;
}

.section-container {
   width: 100%;
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.section-container-fluid {
   width: 100%;
   min-height: 100vh;
}

.parallax-container-1 {
   width: 100%;
   height: 205vh;
}
.parallax-container-2 {
   width: 100%;
   height: 160vh;
}

.last-container {
   height: 60vh;
   width: 100%;
}

/************************** SECCION 1 ****************************************************/
/*****************************************************************************************/
.fondo-seccion-1 {
   background-image: linear-gradient(
      to left top,
      rgba(122, 51, 255, 0) 30%,
      rgba(122, 51, 255, 0.4),
      rgba(122, 51, 255, 0) 70%
   );
   background-size: 200% 200%;
   background-position: 80% 80%;
}

.text-shadow {
   text-shadow: 2px 2px 8px rgb(122, 51, 255);
}

.foto-perfil-card {
   border-radius: 1rem 15rem 1rem 15rem;
   transition: transform 0.8s ease-in-out, background-color 0.8s ease-in-out,
      filter 0.8s ease-in-out;
}
.foto-perfil-card:hover {
   transform: scale(1.05);
   /* filter: brightness(140%); */
   filter: brightness(110%);
   /* background-color: rgba(255, 255, 255, 0.6); */
}

/************************** SECCION 2 ****************************************************/
/*****************************************************************************************/
.fondo-seccion-2 {
   position: relative;
   z-index: 20;
   /* background-color: rgb(122, 51, 255); */
   background-image: linear-gradient(
      to bottom,
      rgba(122, 51, 255, 1),
      rgba(0, 0, 0, 1) 50%
   );
   background-size: 200% 200%;
   background-position: 20% 0%;
}
/************************** SECCION 3 ****************************************************/
/*****************************************************************************************/

/************************** SECCION 4 ****************************************************/
/*****************************************************************************************/
.fondo-seccion-4 {
   background-image: linear-gradient(
      to bottom,
      rgba(122, 51, 255, 0.4),
      rgba(122, 51, 255, 0)
   );
   /* background-size: 300% 300%; */
   /* background-position: bottom left; */
}
.fondo-segundo-slide {
   background-image: linear-gradient(
      to top,
      rgba(122, 51, 255, 0.4) 40%,
      rgba(0, 0, 0, 0.5)
   );
}
/************************** PROJECT CARD ****************************************************/
/*****************************************************************************************/
.cardTitleGradient {
   background-image: linear-gradient(
      to bottom left,
      rgba(122, 51, 255, 0.8),
      rgb(0, 0, 0) 70%
   );
}
